<h5 class="black-text"><strong>Order a Burger</strong></h5>
<form action="/create" method="POST" class="button-size">
    <select class="browser-default" name="article">
        <option value="" article</option>

        {{#each article}}
            {{#if devoured}}
                <option value="{{this.article}}">{{this.article}}</option>
            {{/if}}
        {{/each}}

    </select>
    <br>
    <button type="submit" class="waves-effect waves-light btn green lighten-3 z-depth-1">Enter</button>
</form>
